@model List<GetAllMemberResult>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<br />

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Üye Adı</th>
            <th>Üye Soyadı</th>
            <th>Üye Şehri</th>
            <th>Üye Sil</th>
            <th>Üye Güncelle</th>
        </tr>
        @foreach(var item in Model)
            {
                <tr>
                    <td>@item.MemberID</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.City</td>
                    <td><a href="/Member/DeleteMember/" class="btn btn-outline-danger">Üyeyi Sil</a></td>
                    <td><a href="/Member/UpdateMember/" class="btn btn-outline-success">Üyeyi Düzenle</a></td>
                </tr>
            }
    </table>
    <a href="/Member/AddMember/" class="btn btn-outline-primary">Yeni Üye Girişi</a>
</div>